{% extends 'base/base.html' %}
{% load static %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
{% endblock %}

{% block main %}
    <br>
    <main class="container">

        <h3>As Inscrições ainda não iniciadas</h3>
        <p>
            As inscrições para a 2ª Semana Acadêmica do IFRS <i>Campus</i> Vacaria ainda não começaram
        </p>
        <p>Inscreva-se <a href="{% url 'hall:register' %}">aqui</a> para o III Salão de Ensino, Pesquisa e Extensão</p>
        {% comment %}<p>
            Confira as listas de <a href="{% url 'semac:lista_de_palestras' option='lectures'%}">palestras</a> e <a href="{% url 'semac:lista_de_palestras' option='minicourses' %}">minicursos</a>.
        </p>{% endcomment %}

    </main>

{% endblock %}
