{% extends 'base/base.html' %}

{% load static %}

{% block main %}
    <main class="container">
        <h4>Sua Inscrição!</h4>

        <div class="row">
            <div class="section">
                <b>Nome:</b> {{ user.get_full_name }}
                <br>
                <b>RG:</b> {{ user.profile.rg }}
                <br>
                <b>CPF:</b> {{ user.profile.cpf }}
                <br>
                <b>E-mail: </b> {{ user.email }}
            </div>

            <div class="section">
                {% if user.hallsubscription or user.semacsubscription %}
                    Suas inscrições em nossos eventos:
                    <ul>
                        {% if user.hallsubscription %}
                            <a href="{% url 'hall:review' %}">III Salão de Ensino Pesquisa e Extensão</a>
                        {% elif user.semacsubscription %}
                            <a href="{% url 'semac:review' %}">II Semana Acadêmica</a>
                        {% endif %}
                    </ul>
                {% else %}
                    Você não está inscrito em nenhum evento.
                    <br>
                    Eventos disponíveis:
                    <a href="{% url 'hall:review' %}">III Salão de Ensino Pesquisa e Extensão</a>
                {% endif %}
            </div>

        </div>
    </main>
{% endblock %}