<!DOCTYPE html>
<html lang="pt-br">
<head>
	{% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
    <meta name="description" content="Participe da 1ª Semana Acadêmica do IFRS - Campus Vacaria">

	<title>{{ page_title }}</title>

	<!--CSS: Materialize-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}">

	<!--Materialize Icons-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!--JS: jQuery and Materialize-->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.js"></script>

	{% block head_extra %}
	{% endblock head_extra %}
</head>
<body>
	{% block header %}
		<header>
			<nav class="nav-extended">
				<div class="nav-wrapper green darken-3 transparent">
					<a href="" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
					<a href="{% url 'home' %}" class="left">
                        <img class="responsive-img solid" src="{% static 'core/images/logo.png' %}" alt="SemAc">
					</a>
					<ul class="right hide-on-med-and-down" id="nav">

                        {% if user.is_authenticated %}
                            <li><a href="{% url 'review' %}">Minha Inscrição</a></li>
                        {% else %}
                            <li><a href="{% url 'register' %}">Inscrição</a></li>
                        {% endif %}

                        {% if user.is_authenticated %}
                            <li><a href="{% url 'logout' %}"> <i class="material-icons">exit_to_app</i> </a></li>
                        {% else %}
                            <li><a href="{% url 'login' %}">Login</a></li>
                        {% endif %}
					</ul>
				</div>
			</nav>
		</header>
	{% endblock header %}

	{% block main %}
		<main class="container row">
			{% block main_content %}
			{% endblock main_content %}
		</main>
	{% endblock main %}

	{% block footer %}
		<footer class="page-footer green darken-3">
			<div class="row container">
				<p>Projeto Django básico</p>
			</div>
			<div class="footer-copyright">
				<div class="container">
					<p>&copy; 2019 - Diego Cardoso Nunes</p>
				</div>
			</div>
		</footer>
	{% endblock footer %}

	<script src="{% static 'core/js/materialize_init.js' %}"></script>
	{% block end_scripts %}
	{% endblock end_scripts %}
</body>
</html>
